@import "tailwindcss";

@theme{
    --font-poppins: var(--font-poppins);
    --font-raleway: var(--font-raleway);
    --font-quicksand: var(--font-quicksand);
    --font-outfit: var(--font-outfit);
    --font-jura: var(--font-jura);
    --font-kaushan: var(--font-kaushan);
    --font-grenze: var(--font-grenze)
    
}